<%- include('includes/head.ejs') %>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/custom.css">
    </head>

    <body class="errorPage">
        <%- include('includes/navigation.ejs') %>
            <main>
                <div id="content-wrap">
                    <div class="jumbotron text-center" id="errorPage">
                        <div class="container errorContainer">
                            <h1 id="errorTitle">
                                <%= pageTitle %>
                            </h1>
                            <h2>Some error occurred!</h2>
                            <p>We're working on fixing this, sorry for the inconvenience!</p>
                            <div class="homePage-link">
                                <form action="/" method="get">
                                    <button type="submit" id="homePage-button" class="glow-on-hover">GO TO HOME
                                        PAGE</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </main>


            <%- include('includes/end.ejs') %>