
.product-form {
    width: 20rem;
    max-width: 90%;
    margin: auto;
    
}
.form-control label,
.form-control input {
    display: block;
    width: 100%;

}
.form-control {
    margin: 1rem 0;
}
.form-control input {
    border: 1px solid grey;
    font: inherit;
    border-radius: 2px;
}
button {
    font: inherit;
    border: 1px solid grey;
    background-color: rgb(22, 22, 65);
    color: white;
    border-radius: 3px;
    padding: .5rem;
    cursor: pointer;
  
}
button:hover,
button:active {
    background-color: red;

}

.card__image img {
    max-width: 70%;
    margin: auto;
}

.product-item {
    display: block;
    margin: auto;
    max-width: 500px;
}