<%- include('../includes/head.ejs') %>


    </head>

    <body>

        <%- include('../includes/navigation.ejs') %>

            <main>
                <div id="content-wrap">
                    <section class="carousel-outer-container">
                        <div class="carousel-container">
                            <div class="carousel">
                                <div class="carousel__face"><span><a class="carousel-link" href="/products">Cook
                                            Books</a></span></div>
                                <div class="carousel__face"><span><a class="carousel-link" href="/products">Childrens
                                            Books</a></span></div>
                                <div class="carousel__face"><span><a class="carousel-link" href="/products">Circle Award
                                            Winners</a></span></div>
                                <div class="carousel__face"><span><a class="carousel-link" href="/products">Mystery |
                                            Thriller</a></span></div>
                                <div class="carousel__face"><span><a class="carousel-link"
                                            href="/products">Travel</a></span></div>
                                <div class="carousel__face"><span><a class="carousel-link" href="/products">Art |
                                            Photography</a></span></div>
                                <div class="carousel__face"><span><a class="carousel-link" href="/products">Business |
                                            Leadership</a></span></div>
                                <div class="carousel__face"><span><a class="carousel-link" href="/products">Literature |
                                            Fiction</a></span></div>
                                <div class="carousel__face"><span><a class="carousel-link" href="/products">Crafts |
                                            Hobbies</a></span></div>
                            </div>
                        </div>
                    </section>
                </div>
            </main>
            <%- include('../includes/end.ejs') %>